:root {
  --bgc-gris: rgba(74, 74, 74, 1);
  --bgc-white: rgb(255, 255, 255);
  --color-text-green: rgb(90, 195, 126);
  --color-text-green-dark: rgba(65, 152, 141, 1);
  --color-text-white: rgba(255, 255, 255, 1);
  --color-text-black: rgba(0, 0, 0, 1);
  --font-family-title: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: transform 0.5s, color 0.5s, fill 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.first_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgc-gris);
  margin-top: 200px;
  width: 100%;
}

/*              Logo              */

.logo {
  position: absolute;
  top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--bgc-gris);
}

.logo > img {
  padding-left: 20px;
}

.title {
  margin-top: 60px;
  z-index: 5;
  font-size: 26px;
  color: var(--color-text-green);
  font-family: var(--font-family-title);
  font-style: bold;
  font-weight: 700;
}

.description {
  max-width: 960px;
  font-size: 20px;
  color: var(--color-text-white);
  font-family: var(--font-family-title);
  font-style: bold;
  font-weight: 700;
  text-align: center;
  margin: 20px auto 40px auto;
}

/*                      carousel                */
.sub_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgc-first);
  margin-bottom: 60px;
  text-decoration: none;
}

.carrousel {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.post:nth-child(2) {
  margin: auto 30px;
}

.arrow_right {
  transform: rotate(180deg);
}

.arrow {
  margin: auto 30px;
  cursor: pointer;
}

.arrow:hover path {
  fill: white;
}

.arrow_phone {
  display: none;
  /* display: flex; */
}

/*                      post                */
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  background-color: var(--bgc-white);
  border-radius: 10px;
  text-decoration: none;
}

.img_post {
  overflow: hidden;
}

.post_description {
  margin: auto 20px;
  font-size: 16px;
  color: var(--color-text-black);
  font-family: var(--font-family-title);
  font-weight: 600;
}

.post:hover .post_description {
  color: var(--color-text-green);
}

.post:hover .photo {
  transform: scale(1.3);
}

.post_time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto 20px 20px 19px;
}

.post_time > span {
  margin-left: 10px;
  font-size: 16px;
  color: rgba(173, 173, 173, 1);
  font-family: var(--font-family-title);
  font-weight: 600;
}

/*            second section                */

.second_section {
  /* width: 1280px; */
  display: grid;
  column-gap: 30px;
  margin: 60px 20px 145px 20px;
}

.photo_section2 {
  max-width: 800px;
  /* height: 400px; */
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.photo_section2 > img {
  width: 100%;
  height: 100%;
}

.block_section2 {
  max-width: 450px;
  height: 100%;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description_section2 {
  font-size: 24px;
  color: var(--color-text-green);
  font-family: var(--font-family-title);
  font-weight: 800;
  text-align: center;
  margin: auto 20px;
}

button {
  width: 100%;
  height: 80px;

  background: linear-gradient(
    var(--color-text-green),
    var(--color-text-green-dark)
  );
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: var(--color-text-white);
  font-family: var(--font-family-title);
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  /* transition: background-color 2s ; */
}

button:hover {
  background: linear-gradient(
    var(--color-text-green-dark),
    var(--color-text-green)
  );
}

.dnone {
  display: none;
}

@media screen and (max-width: 1200px) and (min-width: 870px) {
   
  .carrousel,
  .description {
    max-width: 630px;
  }

  .photo_section2 {
    min-width: 400px;
  }
}

@media screen and (max-width: 871px) {
    .first_section {
        margin-top: 150px;
    }
  
    .desktop {
    display: none;
  }

  .arrow_phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .sub_block {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .carrousel,
  .description {
    max-width: 300px;
  }

  .photo_section2 {
    min-width: 320px;
    min-height: 250px;
    order: 2;
    margin-top: 20px;
  }

  .second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 80px 40px;
  }

  .description_section2 {
    margin: 0 0 20px 0;
  }
}
